.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.env*
!.env.example
*.json
key/
svc-gcs-uploader-key.json
service-account-key.json
serviceAccountKey.json
.pytest_cache
.venv
venv
env
.DS_Store
.vscode
.idea
*.log
scratch/
test/
